*.a
*.o
/examples/
/lib_zipfiles/
/avr_studio_5/templates/
/avr_studio_5/stk500_xml/
/installer.nsi
/test/3pi-test/Debug
*.atsuo



*~
\#*#
.#*

.DS_Store

AIE/Concurso AIE/main.hex

*.xcuserstate

*.xcuserstate

*.xcuserstate

AIE/AIE/AIE.xcodeproj/project.xcworkspace/xcuserdata/ninoscript.xcuserdatad/UserInterfaceState.xcuserstate

AIE/Concurso AIE/Concurso AIE.xcodeproj/project.xcworkspace/xcuserdata/ninoscript.xcuserdatad/UserInterfaceState.xcuserstate

Eclipse/.metadata/.plugins/org.eclipse.cdt.ui/3πAIE.build.log
